FIRST DISCUSSION LEAD US TO...

### 1) EMBEDDING NN (first in time)

- create embeddings for each sentence of "context": bert (?)
- represent "context" by these embeddings

OPEN QUESTION: embedding of the sentence by sentence or by words?
______

### 2) ANSWERING NN (second in time)

a) FIRST APPROACH : OBSERVING GENERAL INFORMATION
  - NN
    - input : (whole "context", question)
    - output : index of answer(readapted)? direct answer?

b) SECOND APPROACH : FOCUSING ON SPECIFIC INFORMATION
  - confront each sentence embedding to embedded question: cosine similarity?
    - to find which sentence contains the answer to the question
  - NN
    - input : (sentence of "context", question)
    - output : index of answer(readapted)? direct answer?



______
______

NB : FINAL ANSWERS HAVE TO BE [index, text], THEREFORE WE NEED TO FIND THEM BOTH IN ANY CASE...

In [ ]:
# find out "answer_start" meaning :

t = """Architecturally, the school has a Catholic character. Atop the Main Building's gold dome is a golden statue of the Virgin Mary. Immediately in front of the Main Building and facing it, is a copper statue of Christ with arms	upraised with the legend \"Venite Ad Me Omnes\". Next to the Main Building is the Basilica of the	Sacred Heart. Immediately behind the basilica is the Grotto, a Marian place of prayer and reflection. It is a replica of the grotto at Lourdes, France where the Virgin Mary reputedly appeared to Saint Bernadette Soubirous in 1858."""
print(t[515:])

Saint Bernadette Soubirous in 1858.

In [ ]:
# system packages
import os
import shutil
import sys

# data and numerical management packages
import pandas as pd
import numpy as np

# useful during debugging (progress bars)
from tqdm import tqdm


from urllib import request
import tarfile

In [ ]:
#Loading the data 
import json 
import os


# DATAFRAME ROWS
dataframerows = []

with open('./training_set.json') as f:
    data = json.load(f)

    for el in data['data']:
        title = el['title']
        paragraphs = el['paragraphs']
        
        for context_qas in paragraphs:
              context = context_qas['context'] 
              qas = context_qas['qas']

              for a_q in qas: #[0]["answers"][0]["text"]
                  answer = a_q['answers']
                  question = a_q['question']
                  #id = a_q['id']
                  
                  for a in answer:
                      text = a['text']
                      answer_start = a['answer_start']
                      
                      # CREATE ROW
                      row = {
                          "title" : title,
                          "paragraphs" : paragraphs,
                          "context_qas" : context_qas,
                          "context" : context,
                          "qas" : qas,
                          #"id" : id,
                          "question" : question,
                          "answer" : answer,
                          "text" : text,
                          "answer_start" : answer_start,
                          }
                      
                      # APPEND ROW TO DATAFRAME ROWS
                      dataframerows.append(row)

    df = pd.DataFrame(dataframerows)
    df = df[["title", "paragraphs", "context_qas", "context", "qas", "question", "answer", "text", "answer_start"]]

In [ ]:
# A QUICK LOOK

print(df.columns)
print()
df.describe

Index(['title', 'paragraphs', 'context_qas', 'context', 'qas', 'question',
       'answer', 'text', 'answer_start'],
      dtype='object')

<bound method NDFrame.describe of                           title  ... answer_start
0      University_of_Notre_Dame  ...          515
1      University_of_Notre_Dame  ...          188
2      University_of_Notre_Dame  ...          279
3      University_of_Notre_Dame  ...          381
4      University_of_Notre_Dame  ...           92
...                         ...  ...          ...
87594                 Kathmandu  ...          229
87595                 Kathmandu  ...          414
87596                 Kathmandu  ...          476
87597                 Kathmandu  ...          199
87598                 Kathmandu  ...            0

[87599 rows x 9 columns]>

In [ ]:
'''# A QUICK LOOK TO THE DATA STRUCTURE

for i in range(3):
    print("Row", i, ":")
    for col in ["title", "context", "qas"]:
        print(col, ":", type(df[col][i]))
        print("\t", df[col][i])
        print()
    print()'''

'# A QUICK LOOK TO THE DATA STRUCTURE\n\nfor i in range(3):\n    print("Row", i, ":")\n    for col in ["title", "context", "qas"]:\n        print(col, ":", type(df[col][i]))\n        print("\t", df[col][i])\n        print()\n    print()'

In [ ]:
df_utils = df[['title', 'context', 'question', 'text', 'answer_start']]
df_utils.groupby('title').count()

                                  context  question  text  answer_start
title
2008_Sichuan_earthquake               521       521   521           521
2008_Summer_Olympics_torch_relay      500       500   500           500
51st_state                            135       135   135           135
ASCII                                 110       110   110           110
A_cappella                            104       104   104           104
...                                   ...       ...   ...           ...
Xbox_360                              127       127   127           127
Yale_University                       222       222   222           222
YouTube                               162       162   162           162
Zhejiang                              189       189   189           189
Zinc                                  185       185   185           185

[442 rows x 4 columns]

In [ ]:
df_utils.loc[df['title']=="ASCII"]

       title  ... answer_start
30183  ASCII  ...           24
30184  ASCII  ...           56
30185  ASCII  ...          453
30186  ASCII  ...          561
30187  ASCII  ...          630
...      ...  ...          ...
30288  ASCII  ...           66
30289  ASCII  ...          254
30290  ASCII  ...          395
30291  ASCII  ...          297
30292  ASCII  ...          514

[110 rows x 5 columns]

In [ ]:
df.to_csv('totaldatas.csv', index=False)

In [ ]:
df_utils.to_csv('utildatas.csv', index=False)